<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzx.product.mapper.AttrMapper">


    <select id="selectByids" resultType="java.lang.Long">
        SELECT attr_id From pms_attr where ids IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
            AND search_type=1
        </foreach>
    </select>
</mapper>